
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<h2>Brand</h2>
<div class="content-wrapper">
     Content Header (Page header) 
   
     /.content-header 
     Main content 
    <section class="content">
        <div class="container-fluid">
            <h1>Hello Motherfuck</h1>
        </div>
         /.container-fluid 
    </section>
</div>
